@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
body {
  font-family: 'Poppins', sans-serif;
  font-smooth: antialiased;
  text-decoration: none;
}

header .contact-details {
  background-color: #1d3548;
}

header .contact-details .container a {
  color: #ffffff;
  text-decoration: none;
}

header .contact-details .container .row .contact div a {
  font-size: 14px;
}

header .contact-details .container .row .contact div a i {
  font-size: 18px;
  margin-right: 3px;
}

header .contact-details .container .row .social .icon {
  border-right: 1px solid #ffffff;
  margin-right: 10px;
}

header .contact-details .container .row .social div a {
  font-size: 14px;
  padding: 0 8px;
}

header .contact-details .container .row .social div a i:hover {
  color: #2196f3;
}

nav.navbar .container .collapse .navbar-nav .nav-item .nav-link {
  font-weight: 500;
  color: #1d3548;
}

nav.navbar .container .collapse .navbar-nav .nav-item .nav-link:hover {
  color: #2196f3;
}

nav.navbar .container .collapse .navbar-nav .nav-item .nav-link.active {
  color: #e5836e;
}

nav.navbar .container .collapse .navbar-nav .dropdown .dropdown-menu li .dropdown-item {
  font-weight: 500;
  color: #1d3548;
}

.banner .carousel button.carousel-control-prev {
  background-color: #ffffff;
  height: 40px;
  width: 40px;
  border-radius: 3px;
  position: absolute;
  top: 50%;
  left: 5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.banner .carousel button.carousel-control-next {
  background-color: #ffffff;
  height: 40px;
  width: 40px;
  border-radius: 3px;
  position: absolute;
  top: 50%;
  right: 5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.banner .carousel .carousel-inner .carousel-item img {
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner .carousel .carousel-inner .carousel-item .cover {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.411);
}

.banner .carousel .carousel-inner .carousel-item .carousel-caption {
  max-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.banner .carousel .carousel-inner .carousel-item .carousel-caption h1 {
  color: #ffffff;
  font-size: 3.5rem;
}

.banner .carousel .carousel-inner .carousel-item .carousel-caption h1 span {
  color: #e5e900;
}

.banner .carousel .carousel-inner .carousel-item .carousel-caption p {
  font-size: 18px;
  color: white;
}

@media only screen and (max-width: 768px) {
  .banner .carousel button.carousel-control-prev,
  .banner .carousel button.carousel-control-next {
    width: 30px;
    height: 30px;
    font-size: 20px;
  }
  .banner .carousel .carousel-inner .carousel-item img {
    height: 300px;
  }
  .banner .carousel .carousel-inner .carousel-item .carousel-caption h1 {
    font-size: 2rem;
  }
  .banner .carousel .carousel-inner .carousel-item .carousel-caption p {
    font-size: 14px;
  }
}

@media only screen and (max-width: 500px) {
  .banner .carousel .carousel-inner .carousel-item .carousel-caption h1 {
    font-size: 1.2rem;
  }
  .banner .carousel .carousel-inner .carousel-item .carousel-caption p {
    font-size: 11px;
  }
}

section.category .container .item .list div {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section.category .container .item .list div a {
  margin: 5px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}

section.category .container .item .list div a .box {
  width: 200px;
  height: 130px;
  background-color: #294d69;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
}

section.category .container .item .list div a .box:hover {
  background-color: #dc4c2c;
}

section.category .container .item .list div a .box i {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

section.category .container .item .list div a .box p {
  margin: 0;
}

@media only screen and (max-width: 992px) {
  section.category .container .item .list div a .box {
    width: 180px;
    height: 120px;
  }
  section.category .container .item .list div a .box i {
    font-size: 2rem;
  }
  section.category .container .item .list div a .box p {
    font-size: 14px;
  }
}

@media only screen and (max-width: 499px) {
  section.category .container .item .list div a .box {
    width: 130px;
    height: 100px;
  }
  section.category .container .item .list div a .box i {
    font-size: 1.5rem;
  }
  section.category .container .item .list div a .box p {
    font-size: 11px;
  }
}

@media only screen and (max-width: 300px) {
  section.category .container .item .list div a .box {
    width: 110px;
    height: 90px;
  }
  section.category .container .item .list div a .box i {
    font-size: 1.1rem;
  }
  section.category .container .item .list div a .box p {
    font-size: 9px;
  }
}

section.intro .container .row div p {
  letter-spacing: 5px;
  font-weight: 300;
}

section.intro .container .row div h2 {
  font-weight: 700;
  margin: 15px 0;
  color: #e5836e;
}

section.intro .container .row div small {
  color: #475251;
}

section.upcoming-course .container .item .list div {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section.upcoming-course .container .item .list div a {
  text-decoration: none;
  margin: 15px 10px;
}

section.upcoming-course .container .item .list div a .box {
  width: 350px;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 12px #bbbaba;
          box-shadow: 1px 1px 12px #bbbaba;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

section.upcoming-course .container .item .list div a .box:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

section.upcoming-course .container .item .list div a .box .imgbx {
  height: 230px;
  position: relative;
}

section.upcoming-course .container .item .list div a .box .imgbx img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
}

section.upcoming-course .container .item .list div a .box .imgbx .date {
  position: absolute;
  top: 10px;
  left: 10px;
  text-align: center;
  font-weight: 500;
}

section.upcoming-course .container .item .list div a .box .imgbx .date .month {
  background-color: #ffffff;
  color: #294d69;
  padding: 5px;
  border-radius: 5px 5px 0 0;
}

section.upcoming-course .container .item .list div a .box .imgbx .date .month h1 {
  font-size: 22px;
}

section.upcoming-course .container .item .list div a .box .imgbx .date .month p {
  font-size: 14px;
}

section.upcoming-course .container .item .list div a .box .imgbx .date .time {
  background-color: #1d3548;
  color: #ffffff;
  font-size: 14px;
  padding: 5px;
  border-radius: 0 0 5px 5px;
}

section.upcoming-course .container .item .list div a .box .content p {
  color: #1d3548;
  font-size: 18px;
  font-weight: 700;
}

section.upcoming-course .container .item .list div a .box .content small {
  font-size: 16px;
  color: #e5836e;
}

section.upcoming-course .container .item .list div a .box .content small i {
  font-size: 20px;
}

section.upcoming-course .container .item .list div a .box .content small span {
  margin-left: 3px;
  font-weight: 600;
}

section.entry {
  background: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.719)), to(rgba(0, 0, 0, 0.719))), url(/image/entry.jpg);
  background: linear-gradient(right, rgba(0, 0, 0, 0.719), rgba(0, 0, 0, 0.719)), url(/image/entry.jpg);
  background-size: cover;
  background-attachment: fixed;
}

section.entry .container .row div h1 {
  color: lightgrey;
  text-align: center;
}

section.entry .container .row div h1 span {
  font-size: 3rem;
  color: #2196f3;
}

section.entry .container .row div p {
  font-size: 14px;
}

section.course .container .item .list div {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section.course .container .item .list div .box {
  width: 340px;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 12px #bbbaba;
          box-shadow: 1px 1px 12px #bbbaba;
  margin: 10px 15px;
}

section.course .container .item .list div .box .imgbx {
  width: 100%;
  height: 230px;
}

section.course .container .item .list div .box .imgbx img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
}

section.course .container .item .list div .box .content {
  color: black;
}

section.course .container .item .list div .box .content a {
  text-decoration: none;
}

section.course .container .item .list div .box .content a .teacher {
  color: #e5836e;
}

section.course .container .item .list div .box .content ul {
  margin: 5px 15px 5px 0;
  height: 70px;
}

section.course .container .item .list div .box .content ul li {
  font-size: 11px;
  font-weight: 700;
}

section.course .container .item .list div .box .content .manage {
  border: 1px solid lightgrey;
  padding: 5px;
  line-height: 15px;
  border-radius: 3px;
}

section.course .container .item .list div .box .content .manage div {
  text-align: center;
  padding: 0 15px;
}

section.course .container .item .list div .box .content .manage div p {
  font-size: 14px;
}

section.course .container .item .list div .box .content .manage div small {
  font-size: 11px;
  color: #e5836e;
}

section.course .container .item .list div .box .content .manage .month {
  border-right: 1px solid lightgrey;
}

section.course .container .item .list div .box .content .manage .size {
  border-right: 1px solid lightgrey;
}

section.our_team .container .team_card .team {
  position: relative;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  height: 400px;
  background: -webkit-gradient(linear, left top, left bottom, from(#2196f3), color-stop(30%, #2196f3), color-stop(30%, #1d3548), to(#1d3548));
  background: linear-gradient(#2196f3, #2196f3 30%, #1d3548 30%, #1d3548);
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
}

section.our_team .container .team_card .team:hover .imgBx {
  -webkit-transform: translateY(30px) scale(0.5);
          transform: translateY(30px) scale(0.5);
}

section.our_team .container .team_card .team .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 111;
  -webkit-transform-origin: top;
          transform-origin: top;
}

section.our_team .container .team_card .team .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

section.our_team .container .team_card .team .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-bottom: 30px;
}

section.our_team .container .team_card .team .content .details h2 {
  font-size: 1.2em;
  font-weight: 500;
}

section.our_team .container .team_card .team .content .details h2 span {
  font-size: 0.8em;
  font-weight: 400;
  color: #03a9f4;
}

section.our_team .container .team_card .team .content .details .social_icons {
  margin-top: 5px;
  position: relative;
}

section.our_team .container .team_card .team .content .details .social_icons li {
  margin: 4px;
}

section.our_team .container .team_card .team .content .details .social_icons li a {
  width: 45px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #294d69;
  border-radius: 50%;
  font-size: 1.5em;
  text-decoration: none;
  color: white;
}

section.our_team .container .team_card .team .content .details .social_icons li a:hover {
  background: #2196f3;
}

section.our_team .container .team_card .owl-nav {
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.our_team .container .team_card .owl-nav button.owl-prev,
section.our_team .container .team_card .owl-nav button.owl-next {
  display: block;
  background-color: #294d69;
  width: 30px;
  height: 30px;
  font-size: 30px;
  color: #ffffff;
  line-height: 30px;
  position: relative;
}

section.our_team .container .team_card .owl-nav button.owl-prev {
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
}

section.our_team .container .team_card .owl-nav button.owl-next {
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
}

@media only screen and (max-width: 768px) {
  section.our_team .container .team_card .owl-nav {
    display: none;
  }
}

section.gallery .container .item .list {
  margin: 10px 0;
}

section.gallery .container .item .list img {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

section.gallery .container .item .list img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 2px 2px 15px lightgrey;
          box-shadow: 2px 2px 15px lightgrey;
}

section.blog .container .item .list div {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section.blog .container .item .list div .box {
  margin: 15px;
  width: 340px;
  -webkit-box-shadow: 2px 2px 15px lightgrey;
          box-shadow: 2px 2px 15px lightgrey;
}

section.blog .container .item .list div .box .imgbx {
  height: 200px;
}

section.blog .container .item .list div .box .imgbx img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px 5px 0 0;
}

section.blog .container .item .list div .box .content h1 {
  color: black;
  font-size: 16px;
}

section.blog .container .item .list div .box .content .text {
  height: 80px;
  font-size: 13px;
}

section.blog .container .item .list div .box .content .more {
  color: black;
  text-decoration: none;
}

section.blog .container .item .list div .box .content .more:hover {
  color: #dc4c2c;
}

section.blog .container .item .list div .box .card-footer {
  border-radius: 0 0 10px 10px;
}

section.testimonial .container .item .list .owl-carousel {
  position: relative;
}

section.testimonial .container .item .list .owl-carousel .item {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin: 5px 10px;
  text-align: center;
}

section.testimonial .container .item .list .owl-carousel .item .imgbx {
  padding: 15px 0;
}

section.testimonial .container .item .list .owl-carousel .item .imgbx img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto;
}

section.testimonial .container .item .list .owl-carousel .item .content .text {
  text-align: left;
  height: 120px;
}

section.testimonial .container .item .list .owl-carousel .item .content .text::-webkit-scrollbar {
  width: 3px;
}

section.testimonial .container .item .list .owl-carousel .item .content .text::-webkit-scrollbar-thumb {
  background: #e0e0dd;
  border-radius: 10px;
}

section.testimonial .container .item .list .owl-carousel .item .card-footer .title {
  color: #dc4c2c;
}

section.testimonial .container .item .list .owl-carousel .owl-nav {
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.testimonial .container .item .list .owl-carousel .owl-nav button.owl-prev,
section.testimonial .container .item .list .owl-carousel .owl-nav button.owl-next {
  display: block;
  background-color: #294d69;
  width: 30px;
  height: 30px;
  font-size: 30px;
  color: #ffffff;
  line-height: 30px;
  position: relative;
}

section.testimonial .container .item .list .owl-carousel .owl-nav button.owl-prev {
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
}

section.testimonial .container .item .list .owl-carousel .owl-nav button.owl-next {
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
}

@media only screen and (max-width: 768px) {
  section.testimonial .container .item .list .owl-carousel .owl-nav {
    display: none;
  }
}

section.client .container .item .list .marquee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  margin: auto;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
}

section.client .container .item .list .marquee .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 100%;
  -webkit-animation: scroll 20s infinite linear;
          animation: scroll 20s infinite linear;
}

section.client .container .item .list .marquee .item:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

section.client .container .item .list .marquee .item li {
  list-style: none;
  width: 200px;
  height: 120px;
  margin: 0 15px;
}

section.client .container .item .list .marquee .item li img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

section.get_start {
  background-color: #2196f3;
  color: #ffffff;
}

section.get_start .container .row div .btn-link {
  margin-top: 10px;
}

section.get_start .container .row div .btn-link .btn {
  background-color: #dc4c2c;
  font-size: 20px;
  padding: 7px 20px;
  color: #dc4c2c;
  color: #ffffff;
}

section.contact .container .row .details .card .card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.contact .container .row .details .card .card-footer .list {
  margin: 5px 0;
}

section.contact .container .row .details .card .card-footer .list .icon {
  font-size: 30px;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #dc4c2c;
}

section.contact .container .row .details .card .card-footer .list .content {
  padding-left: 5px;
}

section.contact .container .row .details .card .card-footer .list .content h1 {
  margin: 0;
}

section.contact .container .row .details .card .card-footer .list .content p {
  margin: 0;
  font-size: 14px;
}

section.contact .container .row .details .card .card-footer .list .content p a {
  text-decoration: none;
  color: #666363;
}

section.contact .container .row .details .card .card-footer .list .content p a:hover {
  color: #dc4c2c;
}

section.contact .container .row .map iframe {
  border-radius: 10px;
}

@media only screen and (max-width: 768px) {
  section.contact .container .row .map iframe {
    height: 300px;
  }
}

footer {
  color: black;
}

footer .container .row .details .logo img {
  width: 140px;
}

footer .container .row .details .content {
  padding-left: 8px;
}

footer .container .row .details .content p {
  margin: 5px 0;
}

footer .container .row .details .content p a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}

footer .container .row .details .content p a:hover {
  color: #dc4c2c;
}

footer .container .row .details .social {
  padding-left: 8px;
}

footer .container .row .details .social p {
  margin: 5px 0;
  font-size: 18px;
  font-weight: 500;
}

footer .container .row .details .social ul {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .container .row .details .social ul li {
  margin-right: 5px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #294d69;
  border-radius: 10px;
}

footer .container .row .details .social ul li:hover {
  background-color: #dc4c2c;
}

footer .container .row .details .social ul li a {
  text-decoration: none;
  color: white;
}

footer .container .row .pages a {
  text-decoration: none;
  color: black;
  margin: 10px 0;
}

footer .container .row .course a {
  text-decoration: none;
  color: black;
  margin: 10px 0;
}
