@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
$primary:#294d69;
$secondary:#2196f3;
$divider:#1d3548;
$primary-text:#dc4c2c;
$secondary-text:#e5836e;
$light-text: #ffffff;